<section class="category-navigation-wrapper">
  <div class="navigation-links-wrapper">
    <ul class="navigation-links">
      <li class="link-hover"><a class='dropdown-trigger1 link' href='#' data-target='dropdown1'>2018</a></li>
      <li class="link-hover"><a class='dropdown-trigger2 link' href='#' data-target='dropdown2'>2017</a></li>
      <li class="link-hover"><a class='dropdown-trigger3 link' href='#' data-target='dropdown3'>2016</a></li>
      <li class="link-hover"><a class='dropdown-trigger4 link' href='#' data-target='dropdown4'>2015</a></li>
      <li class="link-hover"><a class='dropdown-trigger5 link' href='#' data-target='dropdown5'>2014</a></li>
    </ul>
  </div>


  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">2018</a></li>
    <li><a href="#!">two</a></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id='dropdown2' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>

  <ul id='dropdown3' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>

  <ul id='dropdown4' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>

  <ul id='dropdown5' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
</section>

<script type="text/javascript">

function fuckPaul(){
  var options = {
    "hover": true,
    "coverTrigger": false
  }

  // document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.dropdown-trigger1');
   var instances = M.Dropdown.init(elems, options);
   console.log("fired")
  // });

  // document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.dropdown-trigger2');
   var instances = M.Dropdown.init(elems, options);
  // });

  // document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.dropdown-trigger3');
   var instances = M.Dropdown.init(elems, options);
  // });

  // document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.dropdown-trigger4');
   var instances = M.Dropdown.init(elems, options);
  // });

  // document.addEventListener('DOMContentLoaded', function() {
   var elems = document.querySelectorAll('.dropdown-trigger5');
   var instances = M.Dropdown.init(elems, options);
  // });
}

fuckPaul()

</script>
